---
- name: Configure NTP servers
  cisco.ios.ios_config:
    lines:
      - "ntp server {{ item.server }}{{ ' prefer' if item.prefer else '' }}"
  loop: "{{ ntp_servers }}"

- name: Configure syslog
  cisco.ios.ios_config:
    lines:
      - "logging host {{ item.host }}"
      - "logging trap {{ item.level }}"
  loop: "{{ syslog_servers }}"

- name: Configure SNMP
  cisco.ios.ios_config:
    lines:
      - "snmp-server community {{ snmp.community_ro }} RO"
      - "snmp-server location {{ snmp.location }}"
      - "snmp-server contact {{ snmp.contact }}"

- name: Configure banner
  cisco.ios.ios_banner:
    banner: login
    text: "{{ login_banner }}"
    state: present
