---
- name: Deploy NTP Configuration
  hosts: all
  gather_facts: no
  tasks:
    - name: Configure NTP on IOS
      cisco.ios.ios_config:
        lines:
          - "ntp server {{ item.server }}{{ ' prefer' if item.prefer | default(false) else '' }}"
      loop: "{{ ntp_servers }}"
      when: ansible_network_os == 'cisco.ios.ios'
      notify: save_ios_config

  handlers:
    - name: save_ios_config
      cisco.ios.ios_config:
        save_when: modified
