---
- name: Deploy SNMP Configuration
  hosts: all
  gather_facts: no
  tasks:
    - name: Configure SNMP on IOS
      cisco.ios.ios_config:
        lines:
          - "snmp-server community {{ snmp.community_ro }} RO"
          - "snmp-server location {{ snmp.location }}"
          - "snmp-server contact {{ snmp.contact }}"
      when: ansible_network_os == 'cisco.ios.ios'
      notify: save_ios_config

  handlers:
    - name: save_ios_config
      cisco.ios.ios_config:
        save_when: modified
